body, html {
  height: 100%;
  margin: 0;
}

#map {
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
}

.alert-button {
  position: fixed; /* Fixed position to keep it in place */
  bottom: 20px;    /* Distance from the bottom */
  right: 20px;     /* Distance from the right */
  background-color: white; /* Button background */
  border: 1px solid #ccc; /* Border */
  border-radius: 5px; /* Rounded corners */
  padding: 10px 15px; /* Padding */
  cursor: pointer; /* Change cursor to pointer */
  z-index: 1000; /* Ensure it is above other elements */
}

.alert-button {
  cursor: pointer;
  border-radius: 5px;
  color: rgb(0, 0, 0);
  border-style: solid;
  background-color: transparent;
  border-color: rgb(255, 0, 0);
  width: 120px;
  height: 40px;
  transition: 0.2s ease;
  text-transform: uppercase;
  border-width: 2px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 2px;
}

.alert-button:hover {
  color: rgb(8, 6, 6);
  background-color: rgb(255, 4, 4);
  border-color: rgb(255, 0, 0);
  text-shadow: 0 0 50px white, 0 0 20px white, 0 0 15px white;
  box-shadow: 0 0 50px rgb(219, 39, 39), 0 0 30px rgb(201, 147, 31),
    0 0 60px rgb(176, 17, 17), 0 0 120px rgb(201, 147, 31);
  font-size: 20px;
  width: 130px;
  height: 50px;
  letter-spacing: 3px;
}

.alert-button:active {
  width: 115px;
  height: 38px;
  letter-spacing: 0px;
}



