<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HeatMap</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="/css/map.css">
</head>
<body>
    <div id="map"></div>
    <!-- <button class="nav_menu" onclick="window.open('map.html')"></button> -->
     
    <button class="alert-button" onclick="showAlert()">Alert</button>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="/js/map.js"></script>
</body>
</html>